{% include base_path %}

<div class="container-fluid align-left  bg-dark text-white" id="banner">
  <div class="row">
    <div class="col-12 masthead2">
      <h3 class="mdc-typography--headline3 p-2" ><a href="{{ base_path }}/">SmartTransit.ai </a>
       <div class="d-none d-lg-inline">- Optimizing Multi-modal Mixed Fleet Transit Operations</div></h3> 
    </div>
</div>
</div>
 



  <!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
  <i class="fas fa-bars"></i>
</a>
<!-- Then we build the nav bar. -->
<nav id="sidebar-wrapper">
    <ul  class="sidebar-nav">
    {% for entry in site.data.navigation %}
        {% if entry.url == current_page %}
            {% assign class = ' class="js-scroll-trigger text-primary"' %}
        {% else %}
          {% assign class = ' class="js-scroll-trigger"' %}
            <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
            {% assign current = null %}
        {% endif %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
        <li class="sidebar-nav-item">
            <a {{ class }}  href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
            <ul>
                {% for sublink in sublinks %}
                <li class="sidebar-nav-item text-white"><a  class="js-scroll-trigger"  href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li  class="sidebar-nav-item" ><a {{ class }}  href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>