{% include base_path %}

<!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"><a class="js-scroll-trigger" href="{{ base_path }}/">{{ site.title }}</a></li>
       {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
    </ul>
  </nav>

